<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expired Link</title>
</head>
<body>
  <script>
    const errorMessage = '<%= message %>';
    alert(errorMessage);
    // Redirect to some other page or handle as needed
    window.location.href = '/dashboard'; // Redirect to the dashboard page
    window.close();
  </script>
</body>
</html>
